body{
	margin:0px;
	font-family: 'Open Sans Condensed', sans-serif;
}
.header-container{
	display: none;
  font-family: 'Open Sans Condensed', sans-serif;
  background-image: -webkit-linear-gradient(top, #000066 0%, #333385 100%);
  color: gold;
  
	padding: 16px;
}

.bdc{
	font-size: 72px;
	font-weight: 700;
	color: gold;
	  /*background-color: #000066;*/
	width: 100%;
	margin: 0 auto;
}

.sublist-container{
	/*width: 100%;*/
	height: 50px;
	/* background-color: #000066; */
}

.sublist-container li{
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	float: left;
	font-size: 48px;
	/* padding-right: 30px; */
	margin-right: 30px;
}

.sublist-container a{
	text-decoration: none;
	color: gold;
}

/*ul li:hover {
  background: #555;
  color: #fff;
}*/

#carousel{
	width: 100%;
	height: 100%;
	 
	/* position: absolute; */ 
	/*z-index: 100;*/
}
#owl-demo {
  background: #EEEEEE;
}

#owl-demo .item {
  width: 70%;
  margin: 0 auto;
  padding: 30px;
}

#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}


.logo {
  /* width: 100%; */

  /* height: 100%; */
  /* width: 70%; */
  /* background: white; */
  height: 600px;
  width: 800px;
  margin: 0 auto;
  background: #EEEEEE;
}

.logo img{ 
  position: absolute;
  /* height: 80%; */
  /* padding-bottom: 100px; */
  width: 70%;
  object-fit: cover;
  /* margin: 0 auto; */
}

#left{
	width: 80px;
	top: 400px;
	position: absolute;
	float: left;
	left: 8px;
}

#left img{
	-webkit-transform: rotate(0deg);
	width: 80px;
	/* z-index: 20; */
}

#right{
	  top: 400px;
	  /* left: 1250px; */
	  position: absolute;
	  float: left;
	  width: 80px;
	  left: calc(100% - 88px);
}
#right img{
	transform: rotate(180deg);
	width: 80px;
  position: relative;
}
.overlay-l{
	 /*display: none; */
  width: 70px;
  height: 70px;
  opacity: .7;
  background: rgba(0, 0, 0, .8);
  float: left;
	top: 402px;
	position: absolute;
	left: 13px;
  border-radius: 35px;
  /*overflow: hidden;*/
}
.overlay-r{
	 /*display: none; */
  width: 70px;
  height: 70px;
  opacity: .7;
  background: rgba(0, 0, 0, .8);
  float: left;
	top: 402px;
	position: absolute;
	left: 1255px;
  border-radius: 35px;
}

/*#map-container{
	position: relative;
    height: 700px;
    top: 100%;
    width: 700px;
	padding: 30px;
}*/

#schedule-container{
	float: left;
  left: 700px;
  position: absolute;
  width: 100%-700px;
  width: 400px;

}

#bottom-bar{
	/* display: none; */
  background-image: -webkit-linear-gradient(top, #333385 0%, #000066 100%);
  color: gold;
/*  position: relative;
  top: 100%;
  height: 100px;*/
    
	position: absolute;

	width: 100%;
	float: left;
	/* top: calc(250%); */
}

a{
	text-decoration: none;
	color: gold;
}


.sticky{
    position: fixed;
	bottom:0;
	left:0;
}



.bottom-text li{
	float: left;
	font-size: 36px;
	/* padding-right: 30px; */
	/* padding-top: 30px; */
	margin: 10px 30px 0 0;
}

li:hover{
	text-decoration: underline;
}


/*CALENDAR VIEW*/
.cal-container{
    background: #EEEEEE;
}

.cal-layout{
	/* text-align: center; */
	padding: 30px;
	background: gold;
	/* margin: 30px 100px; */
	margin: 0 auto;
	width: 800px;
}

.map-layout{
	padding: 30px;
	background: gold;
	margin: 0 auto;
	width: 640px;
}

.pad{
	padding: 30px;
}

.pic img{
  width: 100px;
  float: left;
  border-radius: 73px;
  margin: 5 30px;
}

/*.pic img:hover{
	box-shadow: 0px 0px 9px #888;
}*/

.insta img{
  width: 50px;
  float: left;
  border-radius: 10px;
}

.fb img{
  width: 50px;
  float: left;
  border-radius: 10px;
}
.dance img{
  width: 70px;
  float: left;
  border-radius: 25px;
}

/*.dance img:hover{
	box-shadow: 0px 0px 9px #888;
}*/

.mail img{
  width: 60px;
  float: left;
  border-radius: 6px;
  margin-top: 2px;
}
img:hover{
	box-shadow: 0px 0px 9px #888;
}

#modal-container{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    display:none;
}

#modal-overlay{
    width: 100%;
    height: 100%;  
    opacity: .5;
    background: rgba(0, 0, 0, 0.5);  
    position: absolute;
  bottom: 33%;
}

#modal-box{
    width: 500px;
    height: 260px;
  background-image: -webkit-linear-gradient(top, #000066 0%, #333385 100%);
    position: absolute;
    z-index: 100;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 15%;
    box-shadow: 10px 10px 10px #888;
}
#modal-header{ /*login*/
    color: white;
    line-height: 150%;
    padding: 12px;
    font-size: 24px;
    margin-left: 5px;
}

.modal-footer {
    height: 45px;
    margin-left: 250px;
}

#modal-content > *{ /*username, password*/
    border: 5px solid white;
    padding: 10px;
    background: transparent;
    margin: 0px;
    margin-bottom: 20px;
    width: 460px;
    font-size: 12px;
    font-weight: 700;
    color: white;
    margin-left: 18px;
}
.modal-footer > *{ /*submit, cancel*/
    cursor: pointer;
    float: left;
    padding: 10px;
    width: 80px;
    background: white;
    padding: 5px 8px;
    line-height: 150%;
    text-align: center;
    margin: 8px;
    right: 8px;
    color: #000066;
    font-weight: 600;
} 


.username::-webkit-input-placeholder  {
    color: white;
}
.password::-webkit-input-placeholder  {
    color: white;
}

#blurb-container{
    position: relative;
    width: 345px;
    /*top: 0;*/
    background: grey;
    opacity:0;
}



#blurb{
    font-size: 16px;
    text-align: center;
}
